
#ignore thumbnails created by windows
Thumbs.db
#ignore fallback created by Visual Studio
Browse.VC.db
Browse.VC.opendb
ipch
#ignore Debug folder created by Visual Studio
Debug
#ignore bitmap file except src bitmap and map file
*.bmp
!redBlock*.bmp
!map2.bmp
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
